In [ ]:
# Definir los valores de la expresión matemática
numerador_factor = 12
denominador_factor = 12 * 13

# Cálculo de la parte dentro del corchete
valores = [22.5, 24.5, 31]
media = 26
n = 4  # denominador de cada término dentro del corchete

suma_cuadrados = sum([(x - media)**2 / n for x in valores])

# Evaluar la expresión completa
resultado = (numerador_factor / denominador_factor) * suma_cuadrados

# Mostrar el resultado
resultado

0.7596153846153847

In [ ]:
qchisq(0.95, 3)

[1] 7.814728

In [ ]:
t1 = c(2.5, 3.1,3.3, 2.9)
t2 = c(3.2, 2.8,3.4, 2.6)
t3 = c(3.4, 2.7,2.9, 3.6)

t1c = rep("t1", 4)
t2c = rep("t2", 4)
t3c = rep("t3", 4)

df = data.frame(
  valor = c(t1,t2,t3),
  tratmientl = c(t1c, t2c, t3c)
)
df

   valor tratmientl
1  2.5   t1
2  3.1   t1
3  3.3   t1
4  2.9   t1
5  3.2   t2
6  2.8   t2
7  3.4   t2
8  2.6   t2
9  3.4   t3
10 2.7   t3
11 2.9   t3
12 3.6   t3

In [ ]:
kruskal.test(valor~tratmientl, data = df)

	Kruskal-Wallis rank sum test

data:  valor by tratmientl
Kruskal-Wallis chi-squared = 0.76496, df = 2, p-value = 0.6822

In [ ]:
# Definir los vectores para cada columna
col1 <- c(61, 71, 56, 95, 99, 80, 75, 62)
col2 <- c(75, 102, 95, 103, 98, 115)
col3 <- c(58, 60, 59, 65, 54, 57)
col4 <- c(57, 121, 56, 58, 101, 110, 67)


n = sort(c(col1, col2, col3, col4))
n
1:length(n)

 [1]  54  56  56  57  57  58  58  59  60  61  62  65  67  71  75  75  80  95  95
[20]  98  99 101 102 103 110 115 121

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27

In [ ]:
# Definir los vectores para cada columna
col1 <- c(10, 14, 2.5, 18.5, 21, 17, 15.5, 11)
col2 <- c(15.5, 23, 18.5, 24, 20, 26)
col3 <- c(6.5, 9, 8, 12, 1, 4.5)
col4 <- c(4.5, 27, 2.5, 6.5, 22, 25, 13)

# Sumar cada columna
suma_col1 <- sum(col1)
suma_col2 <- sum(col2)
suma_col3 <- sum(col3)
suma_col4 <- sum(col4)

# Mostrar las sumas
print(paste("Suma de col1:", suma_col1))
print(paste("Suma de col2:", suma_col2))
print(paste("Suma de col3:", suma_col3))
print(paste("Suma de col4:", suma_col4))

[1] "Suma de col1: 109.5"
[1] "Suma de col2: 127"
[1] "Suma de col3: 41"
[1] "Suma de col4: 100.5"

In [ ]:
e = c(112, 84, 84, 98)
b = c(suma_col1, suma_col2, suma_col3, suma_col4)

d = c(8,6,6,7)

factorm = 12/(27*28)

sum(((b-e)^2)/d)*factorm

[1] 9.809642